VITE_CANISTER_ID_ASEED_BACKEND=rrkah-fqaaa-aaaaa-aaaaq-cai
VITE_AUTH_MODE=dev_key
VITE_II_PROVIDER=https://id.ai
VITE_DFX_NETWORK=local
VITE_DFX_HOST=http://127.0.0.1:4943
DFX_HOST=http://127.0.0.1:4943
