VITE_CANISTER_ID_ASEED_BACKEND=rrkah-fqaaa-aaaaa-aaaaq-cai
VITE_CANISTER_ID_ASEED_FRONTEND=YOUR_ASEED_FRONTEND_CANISTER_ID
VITE_AUTH_MODE=ii
VITE_II_PROVIDER=https://id.ai
VITE_DFX_NETWORK=local
DFX_HOST=http://127.0.0.1:4943
